
<% if params[:controller] == 'about' %>
	<div class="well">
		<h3>Location Info</h3>
		<ul>
			<li>The Bookstore</li>
			<li>I Dunno Ave.</li>
			<li>Charlottesville, VA 22903</li>
			<li>Phone: 1</li>
			<li>Email: support@vdogamer.com</li>
		</ul>
	</div>
<% end %>