<h1><%= @page_title %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum massa nec mattis egestas. Aenean at gravida ante, ac sollicitudin ipsum. Praesent fermentum at nisl ac dictum. Donec sed dignissim neque, ac tincidunt metus. Pellentesque efficitur tellus turpis, ac blandit erat pretium eu. Vivamus non interdum nibh. Mauris vel tincidunt nunc. Pellentesque efficitur mauris sed orci sollicitudin, at malesuada libero ultricies. Fusce ultricies tortor sed est vestibulum, at condimentum tellus suscipit. Aliquam sed nibh orci. Aliquam eu faucibus orci. Aliquam volutpat imperdiet egestas.</p>

<div class="well">
	<h3>Location Info</h3>
	<ul>
		<li>The Bookstore</li>
		<li>I Dunno Ave.</li>
		<li>Charlottesville, VA 22903</li>
		<li>Phone: 1</li>
		<li>Email: support@vdogamer.com</li>
	</ul>
</div>
